---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Thank you - Formlander";
const pageDescription =
  "Fast forms for your landing pages. No coding required. Embed forms on your website in minutes";
const pageUrl = "https://www.formlander.com";
const pageImage = "https:/www.formlander.com/images/formlander.jpg";
---

<Layout
  title={pageTitle}
  description={pageDescription}
  url={pageUrl}
  image={pageImage}
>
  <section class="mt-32 mb-10 bg-white">
    <div class="container mx-auto w-8/12">
      <div class="mt-10 text-justify">
        <h1 class="text-4xl font-bold">Success!</h1>
        <p class="mt-4">
          You are now in the wait list. Thank you for showing interest in
          formlander 😊
        </p>
      </div>
    </div>
  </section></Layout
>
