---

---

<section
  class="flex-grow flex flex-col items-center justify-center text-center"
>
  <div class="container mx-auto px-4">
    <h1
      class="text-4xl sm:text-6xl font-semibold uppercase tracking-widest text-shadow"
    >
      Formlander
    </h1>
    <h2 class="mt-8 text-2xl sm:text-2xl leading-8">
      `&lt;form&gt;lander` create forms for your landing pages.
    </h2>
    <h2 class="mt-8 text-xl sm:text-xl leading-8">
      No coding required. Embed forms on your website in minutes
    </h2>

    <!-- Top Features Section -->
    <div class="mt-12 w-full">
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
        <div class="feature-item bg-white p-4 rounded-lg max-w-xs mx-auto">
          <h4 class="text-xl font-semibold mb-2">
            Easy and flexible form design
          </h4>
          <p class="text-gray-700">
            Don't waste time coding forms, design them visually and embed them
            on your website
          </p>
        </div>
        <div class="feature-item bg-white p-4 rounded-lg max-w-xs mx-auto">
          <h4 class="text-xl font-semibold mb-2">Submitions management</h4>
          <p class="text-gray-700">
            Manage and track all your form submissions in one place, or send it
            to different services
          </p>
        </div>
        <div class="feature-item bg-white p-4 rounded-lg max-w-xs mx-auto">
          <h4 class="text-xl font-semibold mb-2">Single flat rate</h4>
          <p class="text-gray-700">
            Paid yearly, no hidden fees or extra charges, it never changes
          </p>
        </div>
      </div>
    </div>

    <div class="mt-10 flex items-center justify-center gap-x-6">
      <button
        data-tally-open="nG1NGo"
        data-tally-layout="modal"
        class="bg-black text-white text-md uppercase px-12 py-4 font-semibold rounded-lg shadow-lg transition-colors duration-300"
        >Join the waiting list</button
      >
    </div>
  </div>
</section>
